body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.main-container {
    width: 1200px;
    margin: 0 auto;    
}

nav {
    font-size: 14px;
    font-family: "PT Sans";
    font-weight: 700;
    color: black;
}

.main-screen {
    background-image: url("../img/main-background-photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    height: 509px;    
}

.welcome-text {
    display: block;
    margin: 0 auto; 
}

.under-welcome {
    position:absolute;
    bottom:0;
}

.visually-hidden {
    display: none
}