html {
    font-family: "PT Sans";
}

* {
    outline: 1px solid red
}
 
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
  }

.visually-hidden {
    display: none
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px 40px #f2f2f2;     
}

.navigation,
.appointment-guests,
.appointment-check-in,
.appointment-check-out {
    font-size: 14px;
    font-weight: 700;
    color: black;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #ffffff;
}

.social-list,
.navigation-list,
.catalog-list,
.header-logo a {
    list-style: none;
}


.navigation-list {
    height: 56px;
    width: 1200px;
    display: flex;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.header-logo  {
    position: absolute;
    display: block;
    margin-left: 530px;
}
.navigation-list li:nth-child(2) {
    margin-right: 244px;    
}


.navigation-list a {
    color: black;
    text-align: center; 
}

.navigation-list a:hover {
    color:#81b3d2;
}

.navigation-list a:focus {
    color:rgba(0, 0, 0, 0.3);
}

.navigation-list li {
    width: 239px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-screen {
    background-image: url("../img/main-background-photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    height: 509px;
}

.welcome-text {
    display: block;
    padding-top: 98px;
    padding-left: 380px;
}

.under-welcome {
    /*position: absolute;*/
    /*bottom: 0;*/
    display: block;
    padding: 0;
}

.slogan,
.search-button,
.find-button,
.сatalog-hotel-name {
    font-size: 21px;
    font-weight: 700;
    color: black;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    /* outline: 1px red solid; */   
}

.five-reasons {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.question {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: black;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;   
}

.hotels-search-date-form {
    /*display: flex;
    flex-direction: column;
    max-height:  395px;
    margin-left: 316px;
    margin-right: 316px;
    margin-bottom: 78px;*/
    padding: 56px;
    background-color: #ffffff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hotels-search-date-form div {
    width: 458px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-paragraph,
.hotel-price-from,
.catalog-hotel-type,
.catalog-hotel-price a {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.hotel-price-from,
.catalog-hotel-type {
    line-height: 21px;
}
.appointment-guests {
    display: flex;
    width: 458px;  
}

.search-button-paragraph {
    display: block;
    margin-left: 316px;
    margin-right: 316px;
    margin-top: 54px;
    padding: 50%;
}

.search-button {
    color: #ffffff;
    background-color: #766357;
    width: 568px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.blue-button {
    color: #ffffff;
    background-color: #81b3d2;
}

.brown-button {
    color: #ffffff;
    background-color: #766357; 
}


.brown-button:hover {
    background-color: #604e43; 
}

.brown-button:focus {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.blue-button:hover {
    background-color: #669ec0; 
}

.blue-button:focus {
    background-color:#5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.check-in-date:hover,
.check-out-date:hover {
    background-color: #ebebeb; 
}

.check-in-date:focus,
.check-out-date:focus {
    background-color: #ffffff; 
}

.check-in-date,
.check-out-date {
    background-color: #f2f2f2; 
}
.catalog-list {
    padding: 0;
}
.catalog-item {
    display: flex;
    
}

.catalog-hotel-price {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-content: flex-end;
}
/*.catalog-item {
    border-bottom: 2px solid #e5e5e5;
    padding: 0;
    height: 120px;
}*/

.footer {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-list {
    padding: 0;
    display: flex;
    justify-content: space-around;
}
